.list-group-item {
  margin-top: 4px;
}

.hoverpointer:hover {
  /* background-color: red; */
  cursor: pointer;
}

.profitOrLoss {
  margin-top: 20px;
  margin-bottom: 100px;
}

#calcRoot {
  margin: 20px 200px 0px 20px;
  border-bottom: 2000px;
  border-top: 1px solid rgb(224, 224, 224);
}

#right-body {
  border-left: 1px solid rgb(224, 224, 224);
}

#calcDistribute {
  color: white;
  background-color: #2c3034;
  padding: 0.25rem;
}

#calcDistribute div {
  padding: 0px 100px;
}

#calcDistribute div h4 {
  margin: 30px 0px;
  padding: 0px;
}

#calcDistribute div div table {
  margin-bottom: 50px;
}
